{% extends 'admin/main.html' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Schedules
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Appointment Date</th>
                        <th>Appointment Day</th>
                        <th>Appointment Time</th>
                        <th>Doctor</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                
                <tbody>
                    {% for schedule in schedules %}
                   
                        <tr>
                            <td>{{schedule.app_date}}</td>
                            <td>{{schedule.app_day}}</td>
                            <td>{{schedule.app_hour}}</td>
                            <td>{{schedule.doctor}}</td>
                            <td>{{schedule.status}}</td>
                            <td>
                                <a href="{% url 'update_schedule' schedule.pk%}" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                                <a href="{%url 'schedule_delete' schedule.pk%}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


