{% extends 'admin/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header bg-success">
                <h5 class="card-text text-white">Edit Schedule</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'update_schedule' schedule.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Date</label>
                        <input type="date" class="form-control" name="app_date" value="{{schedule.app_date}}" required>
                    </div>
                    <div class="form-group">
                        <label for="">Day</label>
                        <input type="text" class="form-control" name="app_day" value="{{schedule.app_day}}" required>
                    </div>

                    <div class="form-group">
                        <label for="">Hour</label>
                        <input type="text" class="form-control" name="app_hour" value="{{schedule.app_hour}}" required>
                    </div>

                    <input type="submit" class="btn btn-success" value="Edit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}